
@{
    ViewBag.Title = "Echange";
}




<div class="row contact">
    <div class="col-lg-4 col-sm-4 ">



    </div>
    <div class="col-lg-4 col-sm-4 ">
        <div>
            <hr />
            <h3> Ce que nous proposon comme service:</h3>
            <hr />
            <p>
                application Web qui permet de mettre en relation les particuliers afin qu’ils puissent échanger leur maison durant les périodes de vacances, les weekends,… tout au long de l’année.
                </br>
                Chaque particulier désirant échanger son bien ou profiter d’un bien d’une personne tierce doit être
                enregistré.
                </br>
                Chaque échange se fait via l’application moyennant un montant forfaitaire de 5 euros/échange.
                Cette somme couvre les frais de dossier uniquement.
            </p>
            <hr />
        </div>
    </div>
</div>