
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zone Membre </h2>
<br />
<br />
@*<a href="~/Membre/Home/Logout" class="btn btn-default">Logout</a>*@
@*<a href="Home/MesBien" role="button" class="btn btn-default">Mes Biens</a>
<a href="Home/AddBien" role="button" class="btn btn-default">Ajouter un Biens</a>
<a href="Home/Echange" role="button" class="btn btn-default">Les demandes d'échanges</a>*@
